<% if (success_msg && success_msg.length > 0) { %>
  <div class="alert alert-success"><%= success_msg[0] %></div>
<% } %>

<% if (error_msg && error_msg.length > 0) { %>
  <div class="alert alert-danger"><%= error_msg[0] %></div>
<% } %>